@use 'variaveis';

.hero{
    position: relative;
    padding: 5.6vw;
    min-height: 120vh;
    text-align: center;
    overflow: hidden;
    color: variaveis.$corTextPrimary;
    @media(max-width:768px){
        min-height: auto;
    }
    &::before{
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../images/scale.jpg);
        background-size: cover;
        opacity: 0.5;
        z-index: -1;

        @media(max-width:768px){
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    

    &__content{
        position: relative;
        max-width: 640px;
        align-items: center;
        z-index: 1;

        &__branding{
            max-width: 320px;
            
            @media(max-width:768px){
                max-width: 180px;
            }
            
            &__icon{
                display: flex;
                margin: 16px 0 5px;

                @media(max-width:768px){
                    margin: 0;
                }
                
                img{
                    height: 20px;
                    margin:0 4px 0;
                    
                }
            }
            img{
                max-width: 320px;
                @media(max-width:768px){
                    max-width: 160px;
                }
            }
            p{
                align-items: center;
                display: flex;

                
            }

            &__button{
                align-items: center;
                display: flex;
                flex-flow: wrap;
                margin-top: 32px;
                min-height: 56px;

                @media(max-width:768px){
                    margin-top: 8px;
                }

                &__play{
                    height: 56px;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    transition: all .2s ease-in-out;
                    width: auto;
                    border: none;
                    border-radius: 0.25rem;
                    padding: 0 24px;

                    &:last-child{
                        margin-left: 20px;
                    }

                    &:hover{
                        background-color: darken(variaveis.$corTextPrimary, 25%);
                    }
                }
            }
        }

        &__text{
            padding-top: 48px;
            text-align: start;
            @media(max-width:768px){
                padding-top: 12px;
            }

            &__title{
                padding-bottom: 16px;

                @media(max-width:1024px){
                    padding-bottom: 8px;
                }
            }
        }
    }
}