@use 'variaveis';
@use 'hero';
@use 'shows';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style-type: none;
}

body{
    background-color: variaveis.$corFundo;
}

@mixin text($fontSize: 15px){
    font-size: $fontSize;
}

.text--big{
    @include text(20px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.button{
    display: inline-block;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
