@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'footer';
@use 'header';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style-type: none;
}

body{
    background-color: variaveis.$corFundo;
}

@mixin text($fontSize: 15px){
    font-size: $fontSize;
}

.text--big{
    @include text(20px);
    @media(max-width:768px){
        @include text(16px);
    }
}

.text{
    @include text;
    @media(max-width:768px){
        @include text(12px);
    }
}

.text--small{
    @include text(12px);
}

.button{
    display: inline-block;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &--secundary{
        background-color: variaveis.$corButton;
        color: variaveis.$corTextPrimary;
        border: 1px solid variaveis.$corButton;

        &:hover{
            background-color: lighten(variaveis.$corButton, 3%);
        }
    }
    &--dark{
        background-color: rgba(variaveis.$corBotaoDark, 0.8);
        border-color: variaveis.$corTextPrimary;
        color: variaveis.$corTextPrimary;
        border: 1px solid variaveis.$corTextPrimary;

        &:hover{
            background-color: variaveis.$corTextPrimary;
            color: variaveis.$corFundo;
        }
    }
}
